<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

    <title>DSC</title>
</head>
<link href="views/css/app.css" rel="stylesheet">
<link href="components/angular-material/angular-material.min.css" rel="stylesheet">
<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
<link rel="stylesheet" type="text/css" href="components/ngImgCrop/compile/minified/ng-img-crop.css">

<script src="components/angular/angular.min.js"></script>
<script src="components/angular-scroll-glue/src/scrollglue.js"></script>
<script src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="components/angular-cookies/angular-cookies.js"></script>
<script src="components/angular-aria/angular-aria.js"></script>
<script src="components/angular-animate/angular-animate.js"></script>
<script src="components/angular-material/angular-material.js"></script>
<script src="components/angular-material-icons/angular-material-icons.js"></script>
<script src="components/angular-translate/angular-translate.min.js"></script>
<script src="components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="components/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
<script src="components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>

<!--<script src="components/jspdf/dist/jspdf.min.js"></script>
<script src="components/html2canvas/build/html2canvas.min.js"></script>-->

<link rel='stylesheet' href='components/textAngular/dist/textAngular.css'>
<script src='components/textAngular/dist/textAngular-rangy.min.js'></script>
<script src='components/textAngular/dist/textAngular-sanitize.min.js'></script>
<script src='components/textAngular/dist/textAngular.min.js'></script>
<script src="components/ngImgCrop/compile/minified/ng-img-crop.js"></script>


<script src="/socket.io/socket.io.js"></script>


<script src="build/app.dsc.min.js"></script>
<base href="/">
<body>

<div class="" ui-view></div>


</body>
</html>