<div data-ng-init="initCollaborators()" flex="60" style="max-height: 600px;">
    <md-dialog aria-label="Problem Edition" ng-cloak flex="100">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>{{'LABEL_INVITE_COLLABORATOR' | translate }}</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="views/img/icon/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <br>
        <div layout-fill layout-align="center center">
            <md-dialog-content>
                <form name="inviteForm" data-ng-submit="addCollaborator(email)">
                    <div layout="row" layout-fill layout-margin>
                        <md-input-container flex>
                            <label>{{'LABEL_EMAIL' | translate }}</label>
                            <input type="email" ng-model="email" md-autofocus required>
                        </md-input-container>
                        <md-button type="submit" class="md-primary"
                                   ng-class="{'md-raised md-hue-1': (inviteForm.$dirty && inviteForm.$valid) }"
                                   aria-label="invite">{{'BTN_SHARED' | translate}}</md-button>
                    </div>
                </form>
                <h4>{{'LABEL_COLLABORATORS' | translate }}</h4>
                <div class="chip" ng-repeat="collaborator in collaborators">
                        <span ng-if="!collaborator.isDeleted"><b>({{collaborator.nickname}})</b></span>
                        <span ng-if="!collaborator.isDeleted">{{collaborator.email}}</span>
                        <span ng-if="!collaborator.isDeleted"><a ng-click="alertDeleteCollaborator(collaborator)"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaElEQVQ4T2NkwA4WMDAwxKNJgcQS0ZUzQgUcGBgY9uMwDJewIwMDwwGYAQYMDAwTSDSggIGB4QLMAJBeBSzOxmXmQgYGhgcgSWQDSPEG2PmjBoyGweBMB6CUuYGBgcGfQKYC5YMEmBoAfNQgEXHOeoIAAAAASUVORK5CYII="></a></span>
                        <span ng-if="collaborator.isDeleted">Remover {{collaborator.nickname}}?  </span>
                        <md-button md-no-ink class="md-primary" ng-if="collaborator.isDeleted" ng-click="removeCollaborator(collaborator)">{{'LABEL_BTN_CONFIRM' | translate }}</md-button>
                        <md-button ng-if="collaborator.isDeleted" ng-click="alertDeleteCollaborator(collaborator)" class="md-warn">{{'LABEL_BTN_CANCEL' | translate }}</md-button>
                </div>
        <div>

        </div>
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="hide()" class="md-raised md-primary" md-autofocus>
                        {{'LABEL_CLOSE' | translate }}
                    </md-button>
                </md-dialog-actions>

            </md-dialog-content>
        </div>
    </md-dialog>
</div>
