<div id="dscreport">

    <md-button ng-click="vm.buidReport()">Imprimir</md-button>
<div id="projectResport">

    <svg id="svg" height="800" width="1200">
        <circle cx="1080" cy="10" r="10" style="fill: #E0F2F1;" ng-mouseover="vm.acende($event);" ng-mouseleave="vm.apaga($event);"/>
        <text x="1090" y="15"  >Community</text>
        <text x="1090" y="28" style="font-size: 10px">Epectador, Legislador</text>
        <circle cx="1080" cy="50" r="10" style="fill: #B2DFDB;" ng-mouseover="vm.acende($event);" ng-mouseleave="vm.apaga($event);"/>
        <text x="1090" y="55"  >Market</text>
        <text x="1090" y="68" style="font-size: 10px">Parceiros, Concorrentes</text>
        <circle cx="1080" cy="90" r="10" style="fill: #80CBC4;" ng-mouseover="vm.acende($event);" ng-mouseleave="vm.apaga($event);"/>
        <text x="1090" y="95"  >Source</text>
        <text x="1090" y="108" style="font-size: 10px">Clientes, Fornecedores</text>
        <circle cx="1080" cy="130" r="10" style="fill: #4DB6AC;" ng-mouseover="vm.acende($event);" ng-mouseleave="vm.apaga($event);"/>
        <text x="1090" y="135"  >Contruibuition</text>
        <text x="1090" y="148" style="font-size: 10px">Atores, responsaveis</text>
        <circle cx="1080" cy="179" r="10" style="fill: #26A69A;" ng-mouseover="vm.acende($event);" ng-mouseleave="vm.apaga($event);"/>
        <text x="1090" y="175"  >Technico</text>
        <text x="1090" y="188" style="font-size: 10px">Epectador, Legislador</text>


        <ellipse id="Community" cx="600" cy="320" rx="480" ry="320" fill="#E0F2F1"  ng-mouseover="vm.acende($event);" ng-mouseleave="vm.apaga($event);" ng-click="addPostIt($event, 'Community');"/>
        <ellipse id="Market" cx="600" cy="380" rx="390" ry="260" fill="#B2DFDB"  ng-mouseover="vm.acende($event);" ng-mouseleave="vm.apaga($event);" ng-click="addPostIt($event, 'Market');"/>
        <ellipse id="Source" cx="600" cy="440" rx="300" ry="200" fill="#80CBC4"  ng-mouseover="vm.acende($event);" ng-mouseleave="vm.apaga($event);" ng-click="addPostIt($event, 'Source');"/>
        <ellipse id="Contribution" cx="600" cy="500" rx="210" ry="140" fill="#4DB6AC"  ng-mouseover="vm.acende($event);" ng-mouseleave="vm.apaga($event);" ng-click="addPostIt($event, 'Contribution');"/>
        <ellipse id="Technico" cx="600" cy="560" rx="120" ry="80" fill="#26A69A"  ng-mouseover="vm.acende($event);" ng-mouseleave="vm.apaga($event);" ng-click="addPostIt($event, 'Technico');"/>
    </svg>

    <div class="sticky-note">

    </div>

</div>


</div>
