<div layout="row" layout-margin layout-align="center center">
   <div flex="100" flex-sm="100" class="md-whiteframe-z1">
      <md-content class="md-padding">


         <div flex="100" flex-sm="100" class="md-whiteframe-z2">
            <md-toolbar class="md-primary md-toolbar-tools">
               <span>CAMADA 1</span>
            </md-toolbar>

            <md-content class="md-padding">
               <div layout="row" layout-sm="column">
                  <div flex>
                     Problems....
                  </div>
                  <div flex>
                     Solutions.
                  </div>
               </div>

            </md-content>
         </div>
         <div flex="100" flex-sm="100" class="md-whiteframe-z2">
            <md-toolbar class="md-primary md-toolbar-tools">
               <span>CAMADA 2</span>
            </md-toolbar>
            <md-content class="md-padding">
               <div layout="row" layout-sm="column">
                  <div flex>
                     Problems....
                  </div>
                  <div flex>
                     Solutions.
                  </div>
               </div>
            </md-content>
         </div>

         <div flex="100" flex-sm="100" class="md-whiteframe-z2">
            <md-toolbar class="md-primary md-toolbar-tools">
               <span>CAMADA 3</span>
            </md-toolbar>
            <md-content class="md-padding">
               <div layout="row" layout-sm="column">
                  <div flex>
                     Problems....
                  </div>
                  <div flex>
                     Solutions.
                  </div>
               </div>
            </md-content>
         </div>

         <div flex="100" flex-sm="100" class="md-whiteframe-z2">
            <md-toolbar class="md-primary md-toolbar-tools">
               <span>CAMADA 4</span>
            </md-toolbar>
            <md-content class="md-padding">
               <div layout="row" layout-sm="column">
                  <div flex>
                     Problems....
                  </div>
                  <div flex>
                     Solutions.
                  </div>
               </div>
            </md-content>
         </div>

         <div flex="100" flex-sm="100" class="md-whiteframe-z2">
            <md-toolbar class="md-primary md-toolbar-tools">
               <span>CAMADA 5</span>
            </md-toolbar>
            <md-content class="md-padding">
               <div layout="row" layout-sm="column">
                  <div flex>
                     Problems....
                  </div>
                  <div flex>
                     Solutions.
                  </div>
               </div>
            </md-content>
         </div>

      </md-content>
   </div>
</div>



