<div data-ng-init="vm.initEvaluation()">

<div layout="row" layout-margin layout-align="center center">
   <div flex="100" flex-sm="100" class="md-whiteframe-z1">
      <md-content class="md-padding">
         <div ng-repeat="evaluationframework in vm.evaluationframeworkList">

         <div flex="100" flex-sm="100" class="md-whiteframe-z2">
            <md-toolbar class="md-primary md-toolbar-tools">
               <h3>{{ evaluationframework.onionlayer }}</h3>
            </md-toolbar>
         </div>
            <div ng-repeat="stakeholder in evaluationframework.stakeholders">
                  <div class="sticky-note-dicution" id="stakeholder{{stakeholder._id}}">
                     <div ng-hide="stakeholder.openEdit">
                        <span ng-click="setOpenEditDiscution(stakeholder)">{{stakeholder.name}}</span>
                     </div>
                     <div ng-show=stakeholder.openEdit>
                        <div><span>{{stakeholder.name}}</span></div>
                        <md-input-container>
                           <label>Question/Problem</label>
                           <textarea class="discution" ng-model="stakeholder.problems" ng-blur="saveDiscution(stakeholder)"  ng-change="saveDiscution(stakeholder)"></textarea>
                        </md-input-container>
                        <md-input-container>
                           <label>Ideia/Solution</label>
                           <textarea class="discution" ng-model="stakeholder.solutions" ng-blur="saveDiscution(stakeholder)"  ng-change="saveDiscution(stakeholder)"></textarea>
                        </md-input-container>
                        <md-button ng-click="saveDiscution(stakeholder)">Save {{stakeholder.name}}</md-button>
                     </div>
                  </div>
            </div>
            <div>
               <span flex>&nbsp;</span>
            </div>
         </div>
      </md-content>
   </div>
</div>

</div>