<div layout="row" layout-margin layout-align="center center">
   <div flex="100" flex-sm="100" class="md-whiteframe-z1">
      <md-content class="md-padding">

         <div ng-repeat="evaluationframework in vm.evaluationframeworkList">

         <div flex="100" flex-sm="100" class="md-whiteframe-z2">
            <md-toolbar class="md-primary md-toolbar-tools">
               <h3>{{ evaluationframework.onionlayer }}</h3>
            </md-toolbar>
            <md-content class="md-padding">

               <div ng-repeat="stakeholder in evaluationframework.stakeholderList">
                  <span> {{stakeholder.name}} </span>
               </div>


            </md-content>
         </div>

         </div>



      </md-content>
   </div>
</div>



