<md-dialog aria-label="DSC">
<form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'LABEL_NEW_PROBLEM' | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                   <md-icon md-svg-src="views/img/icon/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-input-container>
                <label>ID para teste...</label>
                <input type="text" ng-model="problem.id">
            </md-input-container>
            <md-input-container>
                <label>Title</label>
                <input type="text" ng-model="problem.title">
            </md-input-container>
            <md-input-container>
                <label>Initial description</label>
                <textarea type="text" ng-model="problem.description"></textarea>
            </md-input-container>
            <md-checkbox ng-checked="" ng-click=""> {{ 'LABEL_ARTIFACT_STAKEHOLDER' | translate }} </md-checkbox>
            <md-checkbox ng-checked="" ng-click=""> {{ 'LABEL_ARTIFACT_EVALUATION_FRAMEWORK' | translate }}</md-checkbox>
            <md-checkbox ng-checked="" ng-click=""> {{ 'LABEL_ARTIFACT_SEMIOTIC_FRAMEWORK' | translate }}</md-checkbox>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="hide()" class="md-primary">
                {{'LABEL_BTN_CANCEL' | translate }}
            </md-button>
            <span flex></span>
            <md-button ng-click="addNewProblem(problem)" class="md-primary">
                {{'LABEL_NEW_PROBLEM' | translate }}
            </md-button>
        </div>
</form>
</md-dialog>