<md-dialog aria-label="DSC" ng-cloak flex="60">
           <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'LABEL_NEW_PROBLEM' | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                   <md-icon md-svg-src="views/img/icon/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-whiteframe class="md-whiteframe-4dp" layout-fill layout-align="center center">
        <md-dialog-content>
            <form name="newProblemForm" data-ng-submit="addNewProblem(problem)">
            <br>
            <div layout="column">
            <md-input-container layout-fill>
                <label>Title</label>
                <input type="text" ng-model="problem.title" required md-autofocus>
            </md-input-container>
            <md-input-container layout-fill>
                <label>Initial description</label>
                <textarea ng-model="problem.description" rows="5" required></textarea>
            </md-input-container>
            </div>

                <md-content>
                    <div layout="row" layout-align="center start">
                        &nbsp;&nbsp;<md-checkbox ng-click="addArtifact('LABEL_ARTIFACT_STAKEHOLDERS')">{{ 'LABEL_ARTIFACT_STAKEHOLDERS' | translate }} </md-checkbox>
                        &nbsp;&nbsp;<md-checkbox ng-click="addArtifact('LABEL_ARTIFACT_EVALUATIONFRAMEWORK')"> {{ 'LABEL_ARTIFACT_EVALUATIONFRAMEWORK' | translate }}</md-checkbox>
                        &nbsp;&nbsp;<md-checkbox ng-click="addArtifact('LABEL_ARTIFACT_SEMIOTICFRAMEWORK')"> {{ 'LABEL_ARTIFACT_SEMIOTICFRAMEWORK' | translate }}</md-checkbox>
                        &nbsp;&nbsp;<md-checkbox ng-click="addArtifact('LABEL_ARTIFACT_VIF')"> {{ 'LABEL_ARTIFACT_VIF' | translate }}</md-checkbox>
                        &nbsp;&nbsp;<md-checkbox ng-click="addArtifact('LABEL_ARTIFACT_CARF')"> {{ 'LABEL_ARTIFACT_CARF' | translate }}</md-checkbox>
                        <!--<md-checkbox ng-click="addArtifact('LABEL_ARTIFACT_ONION')"> {{ 'LABEL_ARTIFACT_ONION' | translate }}</md-checkbox>-->
                    </div>
                </md-content>

            <md-dialog-actions layout="row">
                <md-button ng-click="hide()" class="md-raised md-primary" md-autofocus>
                    {{'LABEL_BTN_CANCEL' | translate }}
                </md-button>
                <span flex></span>

                <md-button type="submit" class="md-primary"
                           ng-class="{'md-raised md-hue-1': (newProblemForm.$dirty && newProblemForm.$valid) }"
                           aria-label="New Project">{{'BTN_SAVE' | translate }}
                </md-button>
            </md-dialog-actions>
            </form>
        </md-dialog-content>
</md-whiteframe>
</md-dialog>

