<md-dialog aria-label="DSC" ng-cloak flex="60">
           <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'LABEL_NEW_PROBLEM' | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                   <md-icon md-svg-src="views/img/icon/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
            </md-toolbar>
            <md-whiteframe class="md-whiteframe-4dp" layout-fill layout-align="center center">
            <md-dialog-content>
            <form name="newProblemForm" data-ng-submit="addNewProblem(problem)">

            <div class="md-dialog-content">
            <div layout="column">
            <md-input-container layout-fill>
                <label>{{ 'LABEL_PROBLEM_TITLE' | translate }}</label>
                <input type="text" ng-model="problem.title" required md-autofocus>
            </md-input-container>
            <md-input-container layout-fill>
                <label>{{ 'LABEL_INITIAL_DECRIPTION' | translate }}</label>
                <textarea ng-model="problem.description" rows="5" required></textarea>
            </md-input-container>

                    <h3>{{'LABEL_CHOICE_ARTIFACTS' | translate }}</h3>
                    <div layout="row" layout-wrap flex>
                        <div flex-xs flex="50">
                            <md-checkbox aria-label="Select All"
                                         ng-checked="isChecked()"
                                         md-indeterminate="isIndeterminate()"
                                         ng-click="toggleAll()">
                                <span ng-if="isChecked()">Un-</span>{{'LABEL_SELECT_ALL' | translate }}
                            </md-checkbox>
                        </div>
                        <br>
                        <div flex="100" ng-repeat="item in items">
                            <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                {{ item | translate}}
                            </md-checkbox>
                        </div>
                    </div>

            <md-dialog-actions layout="row">
                <md-button ng-click="hide()" class="md-raised md-primary" md-autofocus>
                    {{'LABEL_BTN_CANCEL' | translate }}
                </md-button>
                <span flex></span>

                <md-button type="submit" class="md-primary"
                           ng-class="{'md-raised md-hue-1': (newProblemForm.$dirty && newProblemForm.$valid) }"
                           aria-label="New Project">{{'BTN_SAVE' | translate }}
                </md-button>
            </md-dialog-actions>
            </div>
            </div>
            </form>
        </md-dialog-content>
</md-whiteframe>
</md-dialog>

