<md-dialog aria-label="Problem Edition" ng-cloak flex="70" data-ng-init="getProblemEdit()">
    <form>
    <md-toolbar>
        <div class="md-toolbar-tools">
                <h2>{{problem.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="views/img/icon/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
                <md-content layout="column" flex>
                        <div text-angular="text-angular" ng-blur="problemUpdate(problem.description)" ng-change="problemUpdate(problem.description)" name="htmlcontent" ng-model="problem.description" style="min-height: 300px; height: auto; overflow: auto; font-family: inherit; font-size: 100%;"></div>
                </md-content>
    </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="hide()" class="md-raised md-primary" md-autofocus>
                    {{'LABEL_CLOSE' | translate }}
                </md-button>
            </md-dialog-actions>
    </form>
</md-dialog>

