<div layout="column" layout-fill>
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">

            <h3>
                <span>{{'NAME_SYSTEM' | translate }}</span>
            </h3>
            <md-button ng-click="vm.editDescriptionProblem()">Edit Description</md-button>
            <md-button ng-click="vm.formAddCollaborators()">Collaborators</md-button>
            <md-button ng-click="vm.doLogout()">Logout</md-button>
        </div>
    </md-toolbar>
</div>
<div class="" ui-view="problem-description"></div>
<div>
    <md-content class="md-padding">
        <md-tabs md-border-bottom md-stretch-tabs="always">
            <md-tab data-ui-sref="problem.stakeholders"
                     md-active="$state.is('problem.stakeholders')"
                     label="{{'LABEL_ARTIFACT_STAKEHOLDER' | translate }}">
            </md-tab>

            <md-tab  data-ui-sref="problem.evaluationframework"
                     md-active="$state.is('problem.evaluationframework')"
                    label="{{'LABEL_ARTIFACT_EVALUATION_FRAMEWORK' | translate }}">
            </md-tab>
            <md-tab data-ui-sref="problem.semioticframework"
                    md-active="$state.is('problem.semioticframework')"
                    label="{{'LABEL_ARTIFACT_SEMIOTIC_FRAMEWORK' | translate }}">
            </md-tab>
            <md-tab data-ui-sref="problem.carf"
                    md-active="$state.is('problem.carf')"
                    label="CARF">
            </md-tab>

        </md-tabs>
    </md-content>
</div>


<div class="" ui-view="dsc-artifact"></div>

