<div layout="column" layout-fill>
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="chat">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Chat DSC</h1>
                </md-toolbar>
                <md-content ng-controller="chatDSC as vm" layout-padding data-ng-init="vm.initHistoryChat()">
                <md-content style="height: 400px;"  scroll-glue>

                            <div ng-repeat="msg in vm.messages">
                                    <div ng-if="msg.nickname == vm.nickname">
                                        <div class="bubble me">{{msg.time}} {{msg.nickname}} : {{msg.msg}}</div>
                                    </div>
                                    <div ng-if="msg.nickname != vm.nickname">
                                        <div class="bubble you">{{msg.time}} {{msg.nickname}} : {{msg.msg}}</div>
                                    </div>
                            </div>
                                <md-divider inset></md-divider>
                            </md-list-item>

                    </md-content>

                    <form>
                        <md-input-container>
                            <label for="testInput">Mensagem</label>
                            <input type="text" id="testInput"
                                   ng-model="vm.newmsg" md-sidenav-focus>
                        </md-input-container>
                        <md-button ng-hide="true" ng-click="vm.sendMessage(vm.newmsg)">Send</md-button>
                        <md-button ng-click="vm.close()" class="md-primary">Close</md-button>
                        <span flex></span>
                        <md-button ng-click="vm.sendMessage(vm.newmsg)">Send</md-button>
                    </form>
                    <div>
                        <span>Collaborators on</span>
                    <div ng-repeat="user in vm.userList">
                        <span>{{user}}</span>
                    </div>
                    </div>
                </md-content>
            </md-sidenav>



    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">

            <h3>
                <span>{{'NAME_SYSTEM' | translate }}</span>
            </h3>
            <span flex flex-md="100"></span>
            <md-button ng-click="vm.formAddCollaborators()" class="md-fab md-primary" aria-label="Edit Collaborators">
                <md-tooltip>
                    Edit Collaborators
                </md-tooltip>
                <md-icon md-svg-src="views/img/icon/men16.svg"></md-icon>
            </md-button>

            <md-button ng-click="vm.editDescriptionProblem()" class="md-fab md-primary" aria-label="Edit Description">
                <md-tooltip>
                    Edit Description
                </md-tooltip>
                <md-icon md-svg-src="views/img/icon/ic_edit_24px.svg"></md-icon>
            </md-button>
            <md-button ng-click="vm.openChat()" class="md-fab md-primary" aria-label="Chat">
                <md-tooltip>
                    Open Chat
                </md-tooltip>
                <md-icon md-svg-src="views/img/icon/ic_chat_bubble_24px.svg"></md-icon>
            </md-button>
           <!-- <md-button ng-click="vm.openReport()" class="md-fab md-primary" aria-label="Chat">
                <md-tooltip>
                    Open HTML Report
                </md-tooltip>
               &lt;!&ndash; <md-icon md-svg-src="views/img/icon/ic_chat_bubble_24px.svg"></md-icon>&ndash;&gt;
            </md-button>-->
            <md-button ng-click="vm.doLogout()" class="md-fab md-primary" aria-label="Out app">
                <md-tooltip>
                    Logout
                </md-tooltip>
                <md-icon md-svg-src="views/img/icon/ic_exit_to_app_24px.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>

<div class="" ui-view="problem-description"></div>

<div>
    <md-content class="md-primary">
        <md-tabs md-border-bottom md-stretch-tabs="always">
            <md-tab data-ui-sref="problem.stakeholders"
                     md-active="$state.is('problem.stakeholders')"
                     label="{{'LABEL_ARTIFACT_STAKEHOLDER' | translate }}">
            </md-tab>

            <md-tab  data-ui-sref="problem.evaluationframework"
                     md-active="$state.is('problem.evaluationframework')"
                    label="{{'LABEL_ARTIFACT_EVALUATION_FRAMEWORK' | translate }}">
            </md-tab>
            <md-tab data-ui-sref="problem.semioticframework"
                    md-active="$state.is('problem.semioticframework')"
                    label="{{'LABEL_ARTIFACT_SEMIOTIC_FRAMEWORK' | translate }}">
            </md-tab>
            <md-tab data-ui-sref="problem.vif"
                    md-active="$state.is('problem.vif')"
                    label="VIF">
            </md-tab>
            <md-tab data-ui-sref="problem.carf"
                    md-active="$state.is('problem.carf')"
                    label="CARF">
            </md-tab>
        </md-tabs>
    </md-content>

    <md-content>
        <md-tabs  md-border-bottom md-stretch-tabs="always" ng-repeat="tab in vm.tabs">
            <div>{{tab}}</div>
        </md-tabs>
    </md-content>

</div>

<div class="" ui-view="dsc-artifact"></div>


