<div data-ng-init="vm.initProblemPeport()">
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <span><img src="views/img/logo_barra.png" /> {{'NAME_SYSTEM' | translate }}</span>
            <span flex flex-md="100"></span>
            <md-button ng-click="vm.systemReturn()" class="md-fab md-primary" aria-label="Chat">
                <md-tooltip>
                    Return for Problem {{ vm.problem.title }}
                </md-tooltip>
                <md-icon md-svg-src="views/img/icon/mind.svg"></md-icon>
            </md-button>

            <md-button ng-click="vm.systemReturn()" class="md-fab md-primary" aria-label="Chat">
                <md-tooltip>
                    Your Projects (Problems)
                </md-tooltip>
                <md-icon md-svg-src="views/img/icon/ic_home_24px.svg"></md-icon>
            </md-button>

        </div>
    </md-toolbar>


    <div class="md-whiteframe-z2">
        <md-content class="md-padding">
            <div flex-sm="100" flex-gt-sm="100" layout-sm="column">
               <div class="titleReport1">{{ vm.problem.title}} </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <!-- Cebolala-->
            <div flex-sm="100" flex-gt-sm="100" layout-sm="column">
                <div class="titleReport2">1. {{'LABEL_ARTIFACT_STAKEHOLDERS' | translate}}</div>
            </div>

            <br>
            <br>
            <svg id="svg" height="740" width="1100">
                <circle id="legendCommunity" cx="970" cy="10" r="10" style="fill: #E0F2F1;" ng-mouseover="vm.acende('Community');" ng-mouseleave="vm.apaga('Community');"/>
                <text id="nameCommunity" style="font-size: 14px" x="985" y="15" ng-mouseover="vm.acende('Community');" ng-mouseleave="vm.apaga('Community');">Community</text>
                <text x="985" y="28" style="font-size: 10px">Epectador, Legislador</text>
                <circle id="legendMarket" cx="970" cy="50" r="10" style="fill: #B2DFDB;" />
                <text id="nameMarket" x="985" y="55" >Market</text>
                <text x="985" y="68" style="font-size: 10px">Parceiros, Concorrentes</text>
                <circle id="legendSource" cx="970" cy="90" r="10" style="fill: #80CBC4;" />
                <text id="nameSource" x="985" y="95" >Source</text>
                <text x="985" y="108" style="font-size: 10px">Clientes, Fornecedores</text>
                <circle id="legendContribution" cx="970" cy="130" r="10" style="fill: #4DB6AC;" />
                <text id="nameContribution" x="985" y="135" >Contribution</text>
                <text x="985" y="148" style="font-size: 10px">Atores, responsaveis</text>
                <circle id="legendTechnico" cx="970" cy="170" r="10" style="fill: #26A69A;" />
                <text id="nameTechnico" x="985" y="175"  >Technico</text>
                <text x="985" y="188" style="font-size: 10px">Epectador, Legislador</text>


                <ellipse id="Community" cx="500" cy="320" rx="480" ry="320" fill="#E0F2F1"  />
                <ellipse id="Market" cx="500" cy="380" rx="390" ry="260" fill="#B2DFDB"  />
                <ellipse id="Source" cx="500" cy="440" rx="300" ry="200" fill="#80CBC4"  />
                <ellipse id="Contribution" cx="500" cy="500" rx="210" ry="140" fill="#4DB6AC" />
                <ellipse id="Technico" cx="500" cy="560" rx="120" ry="80" fill="#26A69A"  />
            </svg>
            <div ng-repeat="stakeholder in vm.problem.stakeholders">
                <div style="position: absolute; top: {{stakeholder.y}}; left:{{stakeholder.x}};" class="sticky-note" id="stakeholder{{stakeholder._id}}">
                        <span>{{stakeholder.name}}</span>
                </div>
            </div>

            <br>
            <br>
            <div layout-sm="column">
                <div class="titleReport3">1.2 {{'LABEL_ARTIFACT_STAKEHOLDERS' | translate}}</div>
            </div>
            <div class="containerDiv">
                <div class="rowDivHeader">
                    <div class="cellDivHeader">Stakeholder</div>
                    <div class="cellDivHeader segundCell">Description</div>
                    <div class="cellDivHeader segundLastCell"> {{'VALUES' | translate}}</div>
                </div>

            <div ng-repeat="stakeholder in vm.problem.stakeholders" class="rowDiv">
                <div class="cellDiv">&nbsp;{{stakeholder.name}}</div>
                <div class="cellDiv segundCell">&nbsp;
                    <span>{{stakeholder.description}}</span>
                    &nbsp;

                </div>
                <div class="cellDivHeader segundLastCell">

                    <span ng-repeat="va in stakeholder.values">
                        {{va}}
                    </span>
                </div>
            </div>
            </div>


            <div flex-sm="100" flex-gt-sm="100" layout-sm="column">
                <div class="titleReport2">2 {{'LABEL_ARTIFACT_EVALUATIONFRAMEWORK' | translate}}</div>
            </div>
            <div class="containerDiv">
                <div class="rowDivHeader">
                    <div class="cellDivHeader">Stakeholder</div>
                    <div class="cellDivHeader segundCell">Problems</div>
                    <div class="cellDivHeader segundLastCell">Solutions</div>
                </div>

                <div ng-repeat="stakeholder in vm.problem.stakeholders" class="rowDiv">
                    <div class="cellDiv">&nbsp;{{stakeholder.name}}</div>
                    <div class="cellDiv segundCell">&nbsp;{{stakeholder.evaluationframing.problems}}</div>
                    <div class="cellDiv segundLastCell">&nbsp;{{stakeholder.evaluationframing.solutions}}</div>
                </div>
            </div>


            <div flex-sm="100" flex-gt-sm="100" layout-sm="column">
                <div class="titleReport2">3 {{'LABEL_ARTIFACT_SEMIOTICFRAMEWORK' | translate}}</div>
            </div>
            <div flex-sm="100" class="containerDiv">
                <div class="rowDivHeader">
                    <div class="cellDivHeader">Stair</div>
                    <div class="cellDivHeader lastCell">Requirements</div>
                </div>

                <div flex-sm="100" class="rowDiv">
                    <div class="cellDiv">&nbsp;Social World</div>
                    <div class="cellDiv lastCell">&nbsp;{{vm.problem.semioticframework.socialworld}}</div>
                </div>
                <div flex-sm="100" class="rowDiv">
                    <div class="cellDiv">&nbsp;Pragmatic</div>
                    <div class="cellDiv lastCell">&nbsp;{{vm.problem.semioticframework.pragmatic}}</div>
                </div>
                <div class="rowDiv">
                    <div class="cellDiv">&nbsp;Semantic</div>
                    <div class="cellDiv lastCell">&nbsp;{{vm.problem.semioticframework.semantic}}</div>
                </div>
                <div class="rowDiv">
                    <div class="cellDiv">&nbsp;Syntatic</div>
                    <div class="cellDiv lastCell">&nbsp;{{vm.problem.semioticframework.syntatic}}</div>
                </div>
                <div class="rowDiv">
                    <div class="cellDiv">&nbsp;Empirical</div>
                    <div class="cellDiv lastCell">&nbsp;{{vm.problem.semioticframework.empirical}}</div>
                </div>
                <div class="rowDiv">
                    <div class="cellDiv">&nbsp;Physical</div>
                    <div class="cellDiv lastCell">&nbsp;{{vm.problem.semioticframework.physical}}</div>
                </div>
            </div>


     <div flex-sm="100" flex-gt-sm="100" layout-sm="column">
        <div class="titleReport2">4. Descrição do Problema</div>
    </div>
    <div>
        <span ng-bind-html="vm.problem.description">{{vm.problem.description}}</span>
    </div>






    <div flex-sm="100" flex-gt-sm="100" layout-sm="column">
        <div class="titleReport2">5 Equipe</div>
    </div>
    <div><span>{{vm.problem.owner.fullname}}</span></div>
    <div ng-repeat="collaborator in vm.problem.collaborators">
        <span>{{collaborator.fullname}}</span>
    </div>



    </md-content>
    </div>
</div>