<div flex layout="row" layout-align="center center">
    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
        <md-content class="md-padding">
            <div flex-sm="100" flex-gt-sm="80" layout-sm="column">
                <form name="rescuePassword" data-ng-submit="vm.rescuePassword(vm.user)">
                    <md-input-container flex>
                        <label>Email:</label>
                        <input type="email" ng-model="vm.user.email" required>
                    </md-input-container>
                    <md-button type="submit" class="md-primary"
                               ng-class="{'md-raised md-hue-1': (rescuePassword.$dirty && rescuePassword.$valid) }"
                               aria-label="Save Project">Send</md-button>
                </form>
            </div>
        </md-content>
    </div>
</div>
