<div>
    <div class="md-whiteframe-z2">
        <md-content class="md-padding">
                <form name="rescuePassword" data-ng-submit="vm.rescuePassword(vm.user)">
                    <div layout-gt-sm="column">
                    <md-input-container flex>
                        <label>{{ 'LABEL_YOUR_EMAIL' | translate }}</label>
                        <input type="email" ng-model="vm.user.email" required>
                    </md-input-container>
                    <div layout="row" layout-align="center center">
                        <md-button type="submit" class="md-primary"
                               ng-class="{'md-raised md-hue-1': (rescuePassword.$dirty && rescuePassword.$valid) }"
                               aria-label="Submit">{{ 'BTN_SEND' | translate }}</md-button>
                    </div>
                    </div>
                </form>
        </md-content>
    </div>
</div>
