<div layout="row" layout-align="center center" data-ng-init="vm.initSemioticFramework()">
    <div layout-margin  flex="100" flex-sm="100" class="semioticframework-box md-whiteframe-z1">

        <div layout="row" layout-align="end start">
            <div class="semioticframework" flex="75" flex-sm="100">
                <div>
                    <div>
                        <md-input-container layout-fill>
                            <label>SOCIAL WORLD - beliefs, expectations,commitments, contracts, law, culture,...</label>
                            <textarea ng-blur="vm.saveSocialWorld(vm.semioticframework.socialworld,true)" ng-change="vm.saveSocialWorld(vm.semioticframework.socialworld,false)" ng-model="vm.semioticframework.socialworld" required></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>

             <div layout="row" layout-align="end start">
                <div class="semioticframework" flex="80" flex-sm="100">
                    <md-input-container layout-fill>
                        <label>PRAGMATICS - intentions, communication, conversations, negotiations,...</label>
                        <textarea ng-blur="vm.savePragmatic(vm.semioticframework.pragmatic,true)" ng-change="vm.savePragmatic(vm.semioticframework.pragmatic,false)" ng-model="vm.semioticframework.pragmatic" required></textarea>
                    </md-input-container>
                </div>
            </div>


             <div layout="row" layout-align="end start">
                <div class="semioticframework" flex="85" flex-sm="100">
                    <md-input-container layout-fill>
                        <label>SEMANTICS - meanings, propositions, validity, truth, signification, denotations,...</label>
                        <textarea ng-blur="vm.saveSemantic(vm.semioticframework.semantic,true)" ng-change="vm.saveSemantic(vm.semioticframework.semantic,false)" ng-model="vm.semioticframework.semantic" required></textarea>
                    </md-input-container>
                </div>
            </div>

            <div layout="row" layout-align="end start">
                <div class="semioticframework" flex="90" flex-sm="100">
                    <md-input-container layout-fill>
                        <label>SYNTACTICS - formal structure, language, logic, data, records, deduction, software, files,...</label>
                        <textarea ng-blur="vm.saveSyntatic(vm.semioticframework.syntatic,true)" ng-change="vm.saveSyntatic(vm.semioticframework.syntatic,false)" ng-model="vm.semioticframework.syntatic" required></textarea>
                    </md-input-container>
                </div>
            </div>


              <div layout="row" layout-align="end start">
                <div class="semioticframework" flex="95" flex-sm="100">
                    <md-input-container layout-fill>
                        <label>EMPIRICS - pattern, variety, noise, entropy, channel capacity, redundancy, efficiency, codes,...</label>
                        <textarea ng-blur="vm.saveEmpirical(vm.semioticframework.empirical,true)" ng-change="vm.saveEmpirical(vm.semioticframework.empirical,false)" ng-model="vm.semioticframework.empirical" required></textarea>
                    </md-input-container>
                </div>
            </div>


             <div layout="row" layout-align="end start">
                <div class="semioticframework" flex="100" flex-sm="100">
                    <md-input-container layout-fill>
                        <label>PHYSICAL WORLD - signals, traces, physical distinctions, hardware, component density, speed, economics,...</label>
                        <textarea ng-blur="vm.savePhysical(vm.semioticframework.physical,true)" ng-change="vm.savePhysical(vm.semioticframework.physical,false)" ng-model="vm.semioticframework.physical" required></textarea>
                    </md-input-container>

                </div>
            </div>

    </div>
</div>
