<div layout="row" layout-margin layout-align="end start">
<div flex="100" flex-sm="100" class="md-whiteframe-z1">
    <md-content class="md-padding">

    <div layout="row" layout-margin layout-align="end start">
        <div flex="75" flex-sm="100" class="md-whiteframe-z1">
        <md-toolbar class="md-primary md-toolbar-tools">
            <span>CAMADA 1</span>
        </md-toolbar>
        <md-content class="md-padding">
        </md-content>
    </div>
    </div>


        <div layout="row" layout-margin layout-align="end start">
            <div flex="80" flex-sm="100" class="md-whiteframe-z1">
                <md-toolbar class="md-primary md-toolbar-tools">
                    <span>CAMADA 2</span>
                </md-toolbar>
                <md-content class="md-padding">

                </md-content>
            </div>
        </div>

<div layout="row" layout-margin layout-align="end start">
<div flex="85" flex-sm="100" class="md-whiteframe-z1">
    <md-toolbar class="md-primary md-toolbar-tools">
        <span>CAMADA 3</span>
    </md-toolbar>
    <md-content class="md-padding">

    </md-content>
</div>
</div>

<div layout="row" layout-margin layout-align="end start">
<div flex="90" flex-sm="100" class="md-whiteframe-z1">
    <md-toolbar class="md-primary md-toolbar-tools">
        <span>CAMADA 4</span>
    </md-toolbar>
    <md-content class="md-padding">

    </md-content>
</div>
</div>

<div layout="row" layout-margin layout-align="end start">
<div flex="95" flex-sm="100" class="md-whiteframe-z1">
    <md-toolbar class="md-primary md-toolbar-tools">
        <span>CAMADA 5</span>
    </md-toolbar>
    <md-content class="md-padding">

    </md-content>
</div>
</div>

<div layout="row" layout-margin layout-align="end start">
<div flex="100" flex-sm="100" class="md-whiteframe-z1">
    <md-toolbar class="md-primary md-toolbar-tools">
    <span>CAMADA 6</span>
    </md-toolbar>
    <md-content class="md-padding">

    </md-content>
</div>
</div>
    </md-content>

</div>
</div>
