<div class="md-whiteframe-z2">
    <md-content class="md-padding">
            <form name="signupForm" data-ng-submit="vm.saveUser(vm.user)">
                <div layout-gt-sm="column">
                <md-input-container flex>
                    <label>{{'LABEL_YOUR_NAME' | translate }}</label>
                    <input ng-model="vm.user.fullname" required>
                </md-input-container>
                <md-input-container flex>
                    <label>{{'LABEL_YOUR_NICKNAME' | translate }}</label>
                    <input ng-model="vm.user.nickname" required maxlength="20">
                </md-input-container>
                <md-input-container flex>
                    <label>{{'LABEL_YOUR_EMAIL' | translate }}</label>
                    <input type="email" ng-model="vm.user.email" required>
                </md-input-container>
                <md-input-container flex>
                    <label>{{'LABEL_YOUR_PASSWORD' | translate }}</label>
                    <input type="password" ng-model="vm.user.password" required>
                </md-input-container>
                <md-select placeholder="{{ 'LABEL_YOUR_LANGUAGE' | translate }}" ng-model="vm.user.language" required>
                    <md-option value="pt" ng-click="vm.setLang('pt')" >{{ 'LANGUAGE_PORTUGUESE' | translate }}</md-option>
                    <md-option value="en" ng-click="vm.setLang('en')" >{{ 'LANGUAGE_ENGLISH' | translate }}</md-option>
                    <md-option value="es" ng-click="vm.setLang('es')" >{{ 'LANGUAGE_SPANISH' | translate }}</md-option>
                </md-select>
                <div layout-align="end center" layout="row">
                    <md-button type="submit" class="md-primary"
                               ng-class="{'md-raised md-hue-1': (signupForm.$dirty && signupForm.$valid) }"
                               aria-label="Submit">{{ 'BTN_SAVE' | translate }}</md-button>
                </div>
                </div>
            </form>

    </md-content>


</div>