<div>
    <span>Carregando.....</span>
<div ng-repeat="stakeholder in vm.stakeholderList">
    <span ng-hide="stakeholder.openEdit">
    <md-button class="md-primary" ng-click="vm.setOpenEdit(stakeholder)">{{stakeholder.name}}</md-button>
    </span>
    <div ng-show=stakeholder.openEdit>
        <md-input-container>
            <label>ID</label>
            <input ng-model="stakeholder.id">
        </md-input-container>
        <md-input-container>
        <md-input-container>
            <label>Stakeholder</label>
            <input ng-model="stakeholder.name">
            </md-input-container>
        <md-input-container>
            <label>Description</label>
            <input ng-model="stakeholder.description">
        </md-input-container>
    <md-button ng-click="vm.addStakeholder(stakeholder)">Add</md-button>
    </div>
</div>
</div>

