<div layout="column" layout-fill data-ng-init="vm.getProblems()">
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">

            <md-button class="md-primary md-raised" ng-click="vm.newProblem($event)" flex flex-md="100">
                {{'LABEL_NEW_PROBLEM' | translate }}
            </md-button>
            <md-button ng-click="">Perfil</md-button>
            <md-button ng-click="vm.doLogout()">Logout</md-button>
            <change-language></change-language>
        </div>
    </md-toolbar>


<md-content>

<div ng-repeat="problem in vm.problemList">
    <div class="box-problem">
        <div><span class="close-problem" ng-click="vm.revomveProblem($event,problem)">x</span></div>
    <div ng-click="vm.editProblem(problem)">
        <div clsss="title"><span>{{problem.title}}</span></div>
        <div class="description" ng-bind-html="problem.description">

        </div>
    </div>
    </div>
</div>

    <div ng-repeat="problem in vm.problemCollaboratorList">
        <div class="box-problem-collaborator">
            <div ng-click="vm.editProblem(problem)">
                <div clsss="title"><span>{{problem.title}}</span></div>
                <div class="description" ng-bind-html="problem.description">

                </div>
            </div>
        </div>
    </div>

</md-content>

</div>

