
<div layout="column" layout-fill>
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <md-button ng-click="vm.doLogout()">Logout</md-button>
        </div>
    </md-toolbar>
    <md-content style="height: 600px;">
        <md-input-container>
            <div>
            <label>ID Problem</label>
            <input type="text" ng-model="vm.idProblem">
            </div>
            <div><md-button ng-click="vm.editProblem(vm.idProblem)">New Problem</md-button></div>

        </md-input-container>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="problem in vm.problemList">
                <div class="md-list-item-text">
                    <h4>Titulo: {{problem.title}}</h4>
                    Colaboradores:
                     <span ng-repeat="colaborator in problem.team">
                         {{colaborator}}
                     </span>
                    <div>
                        Descricption: {{problem.description}}
                    </div>
                </div>
                <md-divider inset></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>
