<div class="md-whiteframe-z2">
    <md-content class="md-padding">
    <form name="loginForm" data-ng-submit="vm.doLogin(vm.user)">
        <div layout-gt-sm="column">
            <md-input-container flex>
                <label>{{'LABEL_YOUR_EMAIL' | translate }}</label>
                <input type="email" ng-model="vm.user.email" required>
            </md-input-container>
            <md-input-container flex>
                <label>{{'LABEL_YOUR_PASSWORD' | translate }}</label>
                <input type="password" ng-model="vm.user.password" required>
            </md-input-container>
        </div>
        <div layout-gt-sm="row" layout-align="center end"ng-show="!vm.inProcessing">
            <div layout-align="end center" layout="row" >
                <md-button type="submit" class="md-primary"
                           ng-class="{'md-raised md-hue-1': (loginForm.$dirty && loginForm.$valid) }"
                           aria-label="Save Project">{{'LABEL_BTN_LOGIN' | translate }}</md-button>
            </div>
            <div ng-show="vm.inProcessing">
                <div><md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular></div>
            </div>
        </div>
    </form>
    </md-content>
</div>
