<div data-ng-init="vm.initValueIdentificationFrame()">
    <div ng-repeat="onion in vm.stakeholderList">
        <div ng-if="onion.stakeholders.length > 0">
            <div class="sticky-note-value">
            <div>{{onion.onionlayer}}</div>
            <div ng-repeat="stakeholder in onion.stakeholders">
                <div class="stakeholder" id="stakeholder{{stakeholder._id}}"  ng-click="vm.setSuggestionShow(stakeholder)" ng-mouseleave="vm.leaveSuggestionShow(stakeholder)">
                    <div><span>{{stakeholder.name}}</span></div>
                    <div ng-repeat="value in stakeholder.values">
                            <div><span>{{value}} </span><span ng-click="vm.removeValueIdentication(value,stakeholder)">x</span></div>
                    </div>
                    <div ng-show="stakeholder.openEdit">
                        <md-input-container>
                            <label>New Value</label>
                            <input ng-model="stakeholder.newValues">
                        </md-input-container>
                        <md-button ng-click="vm.setValueIdentication(stakeholder)" class="md-primary">{{'BTN_ADD' | translate}}</md-button>
                        <div ng-repeat="sv in stakeholder.sugestionValues">
                           <span ng-click="vm.selectStakeholderValue($index,stakeholder,sv)">{{sv}}</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div ng-show="vm.inProcessing">
        <div><md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular></div>
    </div>
</div>