.close a {
    position: absolute;
    margin-left: 118px;
    margin-top: -10px;
    text-decoration: none;
    color: black;
}
.sticky-note {
    position: absolute;
    margin: 5px;
    float: left;
    background:#fefabc;
    padding:9px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size:12px;
    color: #000;
    width: 120px;
    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;
}

.sticky-note .title {
    background: transparent;
    border: none;
    display: block;
    font-size: 11px;
    font-weight: bold;
}

.sticky-note .body {
    background: transparent;
    border: none;
    display: block;
}

[draggable=true] {
    cursor: pointer;
}

.box-evaluationframework {
    float: left;
    width: 240px;
    margin: 5px 5px;
    background:#fefabc;
    padding:9px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #000;
    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;
}

.box-evaluationframework .discution {
    background: transparent;
    border: none;
    display: block;
}

.box-problem {
    float: left;
    width: 120px;
    height: 180px;
    margin: 8px 8px;
    background:#fefabc;
    padding:9px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #000;
    width: 120px;
    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;
}

.box-problem .title {
    font-size:14px;
    background: transparent;
    border: none;
    display: block;
    font-weight: bold;
}

.box-problem .description {
    background: transparent;
    border: none;
    display: block;
    font-size: 11px;
}

.box-problem .colaborator {
    background: transparent;
    border: none;
    display: block;
    font-size: 12px;
}

.sticky-note-dicution {

    margin: 5px;
    float: left;
    background:#fefabc;
    padding:5px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size:14px;
    color: #000;
    width: 240px;
    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;
}

.sticky-note-dicution .dicution{
    background: transparent;
    border: none;
    display: block;
    font-size: 11px;
}

.collaborator {
    margin: 5px;
    float: left;
    background:#fefabc;
    padding:5px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size:14px;
    color: #000;
    width: 200px;
    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;
}

.closecollaborator {
    position: absolute;
    margin-left: 196px;
    margin-top: -10px;
    text-decoration: none;
    color: black;
}