.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 80px;
    background-color: #00a087;
}

.chatarea {
    position:fixed;
    bottom:0;
    right:0;
    margin:0;
    padding:0;
    z-index: 9999;
}
.chat {
    margin:0;
    padding:0;
    width:250px;
    float:right;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;;
    overflow:hidden;
    margin-right:30px;
    -webkit-box-shadow: 0 1px 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0 1px 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow:         0 1px 5px 0 rgba(50, 50, 50, 0.75);
}

.chathead {
    width:250px;
    padding-right: 5px;
    background-color: #004D40;
    height:40px;
    color:#ffffff;
    padding-top:5px;
    padding-left: 10px;
    padding-bottom: 5px;
    cursor:pointer;
}

.chathead img {
    width: 30px;
    vertical-align:middle;
    padding-right: 2px;
    height: 30px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.help-layout {
    position:fixed;
    bottom:0;
    left:0;
    margin:0;
    padding:0;
    z-index: 9999;
}

.feed {
    padding:10px;
    background-color: snow;
    max-height:400px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.messagebox {
    min-height:30px;
    width:250px;
    border-top:1px solid #e0e0e0;
    background-color: snow;
}
.messagebox textarea {
    width:250px;
    box-sizing:border-box;
    height:100%;
    border:0;
    font-family: Arial, serif;
    padding-left:10px;
    background-color: white;
    border: groove;
}

.messageboxReturn textarea {
    width:180px;
    box-sizing:border-box;
    height:100%;
    border:0;
    font-family: Arial, serif;
    padding-left:10px;
    background-color: snow;
    border: groove;
}

section.module.parallax {
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax h1{
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    line-height: 600px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
section.module.parallax-1{
    background-image: url("../img/dsc1.png");
}

section.module.parallax-2{
    background-image: url("../img/dsc2.png");
}

section.module.parallax-3{
    background-image: url("../img/dsc3.png");
}

@media all and (min-width: 600px) {
    section.module h2 {
        font-size: 42px;
    }
    section.module p {
        font-size: 20px;
    }
    section.module.parallax h1 {
        font-size: 96px;
    }
}
@media all and (min-width: 960px) {
    section.module.parallax h1 {
        font-size: 160px;
    }
}

body{
    margin-top: 0;
}


.closedsc a {
    position: absolute;
    margin-top: -5px;
    text-decoration: none;
    color: black;
    cursor: default;
}

.move {
    position: absolute;
    margin-left: 120px;
    margin-top: -10px;
    text-decoration: none;
    color: black;
    cursor: default;
}

.sticky-note {
    padding-top: 6px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    background:#FFFF00;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 11px;
    color: #000;
    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;
    cursor: move;
}

.sticky-note-value {
    float: left;
    margin: 5px;
    background: teal;
    padding:9px;
    font-family: "Helvetica Neue", Arial, sans-serif
    font-size: 14px;
    color: #f9ff10;
    cursor: default;
}

.acaoNormal{
    color: #0000FF;
    cursor: pointer;
}
.acaoTitulo{
    color: #0000FF;
    cursor: default;
}
.sticky-note-value .stakeholder{
    background: #f9ff10;
    padding: 5px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #000;
    margin: 8px;
    border-bottom-color: #ffe8fa;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.sticky-note-value .title {
    background: transparent;
    border: none;
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.sticky-note .btnedit{
    background: transparent;
    border: none;
    display: block;
    font-size: 12px;
    cursor: pointer;
}

.sticky-note .title {
    background: transparent;
    border: none;
    display: block;
    font-size: 11px;
    font-weight: bold;
}

.sticky-note .body {
    background: transparent;
    border: none;
    display: block;
}

.box-evaluationframework {
    width: 240px;
    margin: 5px 5px;
    background:#FFFFA5;
    padding:9px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #000;
    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;
}

.box-evaluationframework .discution {
    background: transparent;
    border: none;
    display: block;
}

.pms {
    float: left;
    margin:5px 5px;
    background: #E0F2F1;
    padding: 4px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #000000;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    5px 5px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         5px 5px 5px 0px rgba(50, 50, 50, 0.75);
}


.semioticframework {
    float: left;
    background: #f9ff10;
    padding-top: 25px;
    padding-left: 4px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    border-top: solid;
    border-left: solid;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.semioticframework-box {
    float: left;
    background: teal;
}

.boxSF-title {
    float: left;
    background: teal;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #FFF;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.close-pms a {
    position: absolute;
    margin-left: 210px;
    margin-top: -10px;
    text-decoration: none;
    color: black;
    cursor: default;
}


.pms-select {
    float: left;
    margin:4px 4px;
    background:#FFFFA5;
    padding:9px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #000;
    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;
}

.box-pms {
    float: left;
    width: 240px;
    background: #f9ff10;
    padding: 10px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #000;
    margin: 8px;
    border-bottom-color: #ffe8fa;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.box-pms .internal {
    font-size:13px;
    background: transparent;
    border: none;
    display: block;
    margin: 5px;
}

.box-pms .title {
    font-size:14px;
    background: transparent;
    border: none;
    display: block;
    font-weight: bold;
}

.box-problem {
    float: left;
    width: 140px;
    height: 200px;
    margin: 8px 8px;
    background:#FFFFA5;
    padding:9px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #000;
    overflow: auto;
    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;
}

.box-problem-collaborator {
    float: left;
    width: 140px;
    height: 200px;
    margin: 8px 8px;
    background: #FFFFA5;
    padding:9px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #000;
    overflow: auto;
    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;
}

.box-problem .title {
    font-size:14px;
    background: transparent;
    border: none;
    display: block;
    font-weight: bold;
}

.box-problem .description {
    background: transparent;
    border: none;
    display: block;
    font-size: 11px;
}

.box-problem .colaborator {
    background: transparent;
    border: none;
    display: block;
    font-size: 12px;
}

.box-problem .close-problem {
    position: absolute;
    margin-left: 120px;
    margin-top: -10px;
    text-decoration: none;
    color: black;
    cursor:default;
}


.sticky-note-frame {
    margin: 1px;
    float: left;
    background: #f9ff10;
    padding: 4px;
    font-family: Arial;
    font-size: 11px;
    width: 240px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.sticky-note-frame .body{
    background: transparent;
    border: none;
    display: block;
    font-size: 11px;
}

.sticky-note-frame .title {
    background: transparent;
    border: none;
    display: block;
    font-size: 14px;
    padding-left: 8px;
    font-weight: bold;
    text-align: center;
}

.sticky-note-frame .item {
    background: transparent;
    border: none;
    display: block;
    font-size: 13px;
    font-weight: bold;
}

.collaborator {
    margin: 5px;
    float: left;
    background:#fefabc;
    padding:5px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size:14px;
    color: #000;
    width: 210px;
    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;
}

.closecollaborator a {
    position: absolute;
    margin-left: 190px;
    margin-top: -10px;
    text-decoration: none;
    color: black;
}


.messagedsc {
    /*background: #e9ffd9 url('img/msg.png') no-repeat 10px 50%;*/
    border: 1px solid #a6ca8a;
}


.bubble{
    background-color: #E8F5E9;
    border-radius: 5px;
    box-shadow: 0 0 6px #66BB6A;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #E8F5E9;;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:         rotate( 29deg ) skew( -35deg );
    -moz-transform:    rotate( 29deg ) skew( -35deg );
    -ms-transform:     rotate( 29deg ) skew( -35deg );
    -o-transform:      rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;
    margin: 5px 15px 5px 10px;
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
}

.you {
    float: right;
    margin: 5px 10px 5px 15px;
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
}

.problem_close {
    position: absolute;
    right: -10px;
    top: 3px;
}

.problem_title {
    color: #000000;
}

.img_circular{
    width: 30px;
    height: 30px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    display: block;
}


.img_circularCapa{
    width: 600px;
    height: 300px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    display: block;
}


.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:400px;
    height:400px;
}

.titleReport {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}

.titleReport1 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: start;
}

.titleReport2 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: start;
}

.titleReport3 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: start;
}

.titleReport4 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: start;
}

.containerDiv {
    border: 1px solid black;
    width: 100%; display:table
}
.rowDivHeader {
    border: 1px solid black;
    background-color: teal;
    color: white;
    font-weight: bold; display:table-row
}
.rowDiv {
    border: 1px solid #26A69A;
    background-color: #E0F2F1;
    display:table-row
}
.cellDivHeader {
    border-right: 1px solid black;
    display: table-cell;
    width:12%;
    padding: 1px;
    text-align: center;
}
.cellDiv {
    border: 1px solid black;
    border-right: 2px solid black;
    display: table-cell;
    width:10%;
    padding-right: 4px;
    text-align: start;
    border-bottom: none;

}

.lastCell {
    width: 100%; display:table;
    border-right: none;

}
.segundCell {
    width: 40%;
}

.segundLastCell {
    width: 100%; display:table;
   border-right: none;
}

.pin-border {
    background-color: #000000;
    border: 3px solid #d6d62d;
    height:20px;
    width:20px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;

}

.dialogdemoBasicUsage #popupContainer {
    position: relative; }

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }

.dialogdemoBasicUsage button {
    width: 200px; }

.dialogdemoBasicUsage div#status {
    color: #c60008;
}



.ta-editor {
    min-height: 300px;
    max-height: 480px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}


.chip {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #004D40;
    padding: 0 25px;
    height: 50px;
    font-size: 13px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #bbf1ac;
}

.chip picture {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

li {
    background: url("../img/icon/user.png") 0 50% no-repeat;
    list-style-type: none;
    padding-left: 12px;
}


.pin {
    background-color: #aaa;
    display: block;
    height: 8px;
    width: 2px;
    position: absolute;
    left: 6%;
    top: -2px;
    z-index: 1;
}

.pin:after {
    background-color: #A31;
    background-image: radial-gradient(25% 25%, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
    border-radius: 50%;
    content: '';
    height: 12px;
    left: -5px;
    position: absolute;
    top: -10px;
    width: 12px;
}
